[Unit]
Description=pprotein portforward

[Service]
ExecStart=/usr/bin/ssh isucon@192.168.0.11 -NL 6060:localhost:6060
Restart=always
RestartSec=15
User=isucon

[Install]
WantedBy=multi-user.target
