[Unit]
Description=pprotein portforward

[Service]
ExecStart=/usr/bin/ssh isucon@192.168.0.11 -NL 8080:localhost:8080
Restart=always
RestartSec=15
User=isucon

[Install]
WantedBy=multi-user.target
